html {
  background-color: black;
}

h1 {
  color: whitesmoke;
}

.ball {
  margin: auto;

  border-radius: 50%;

  width: 100px;
  height: 100px;
  background-color: lightpink;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
